.artist-card-x {
    align-items: center;
    background-color: var(--baltic-sea);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 189px;
    overflow: hidden;
    padding: 10px 0;
    width: 165px;
}

.artist-card-thumbnail {
    height: 145px;
    width: 145px;
}

.artist-name {
    align-items: flex-end;
    display: flex;
    height: 14px;
    overflow: hidden;
    width: 123px;
}

.title {
    height: 29px;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: -14px;
    width: 123px;
}
